* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
  background: #f2f4f7;
}

/* .main{
  display: flex;
} */

.app{
  width: 30em;
  height: 200px;
  border-radius: 10px;
  box-shadow: inset 7px 7px 15px rgba(179, 8, 205, 0.6),
  inset -7px -7px 35px rgba(62, 153, 32, 0.6);
  margin-left: 20em;
}
h1{
  color: #3c3cbf;
  margin-left: 3em;
}
img{
  width: 295px;
  height: 300px;
  border-radius: 10px;
}

p{
  color: transparent;
  color: blue !important;
  margin-left: 4em;
}

button{
  padding: 15px 50px;
  border-radius: 5px;
  background-color: #3c3cbf;
  color: white;
  border: none;
  margin-left: 5em;
}