* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
  background: #f2f4f7;
}

.app {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.card {
  border: 3px solid green;
  width: 350px;
  padding: 40px;
  text-align: center;
  background: white;
  border-radius: 20px;
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.1);
  animation: br 1s linear infinite;
}

@keyframes br{
  0%{
    border-radius: 20%/40%;
    transition: 1s;
  }
  50%,100%{
    border-radius: 50%;
    transition: 1s;
  }
}

.card h1 {
  margin-bottom: 25px;
}

.count {
  font-size: 60px;
  font-weight: bold;
  margin-bottom: 25px;
}

.buttons {
  display: flex;
  justify-content: center;
  gap: 10px;
}

button {
  border: none;
  padding: 12px 18px;
  border-radius: 10px;
  background: #111827;
  color: white;
  cursor: pointer;
  font-size: 16px;
}

button:hover {
  opacity: 0.8;
}